.review-container{    
    border: 5px solid white;
    border-radius: 1rem;
    background-color: aliceblue;
    padding: 1rem;
    height:15rem;
    /* width: 20rem; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.review-image{
    height: 4rem;
    grid-column: 1;
}
.review-image img{
    border-radius: 50%;
    height: 100%;    
    object-fit: cover;
}
.review-title{
grid-column: 2/span 2;
}
.review-description{
    grid-column: 1/ span 3;
    grid-row: 2;
    

}
.review-rating{
    grid-column: span 3;
    grid-row: 3;
}
.card-flex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media (max-width: 768px){
    .card-flex{
        display: block;
        
    }
}