.master-banner {   
    height: 20rem;
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
        
}

.master-banner-img{    
    height: 20rem;
     grid-column: 2 / span 10;
     grid-row: 1 / span 2;

}

.master-banner-img img{
    height: 100%;
    width: 100%;;
    object-fit: cover;
    opacity: 50%;
    border-radius: 2rem;
    
}
.master-banner-text{
    grid-column: 5 / span 4;
    grid-row: 2;
    text-align: center;
    /* padding: 30px; */
    z-index: 1;
    /* color: #fff; */
    font-weight: 600;
        
}